body{
    background-color: khaki;
}
.box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: background-color 2s;
}

.box1:hover{
    background-color: purple;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    display: flex;
    flex-direction: row;
    
    animation-name: box2move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#box2 img{
    max-height: 100%;
    float: right;
}

#box2 p{
    margin: 20px;
    text-align: center;
}

#box3{
    width: 25vw;
    height: 25vw;
    
    position: relative;
    float: right;
    background-color: deepskyblue;

    animation-name: box3spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#box3 img{
    max-height: 100%;
}

@keyframes box2move{
    from{
        translate: 150vw 0;
        scale: 200% 1;
        transform: rotate(-0deg);
    }

    to{
        translate: 0 0;
        scale: 100% 1;
        transform: rotate(360deg);
    }
}

@keyframes box3spin {
    from{
        transform: rotate(360deg);
    }

    to{
        transform: rotate(-0deg);
    }
}